@using LightweightToDoLesson11.Models;
﻿@model AllGoalsModele

@{
    ViewData["Title"] = "All your goals";
}

<div class="display-6">ToDoRoster</div>

<div class="mt-5 mb-5">
    <div class="goalgroup-header text-primary shadow-sm">
        Queued Goals
    </div>
    <div class="grid-view">
        @foreach (var goal in Model.QueuedGoals)
        {
            <div class="goalcard animate">
                <div class="goalcard-header">
                    <div>@goal.Id</div>
                    <div>@goal.CreatedAt.ToString("dd.MM.yyyy, HH:mm:ss")</div>
                </div>
                <div class="goalcard-body">@goal.Text</div>
                <div class="goalcard-footer">
                    @using (Html.BeginForm("Completed", "ToDoRoster", FormMethod.Post))
                    {
                        <input type="hidden" name="goalId" value="@goal.Id" />
                        <input type="submit" class="btn btn-success me-1 btn-sm" value="Completed" />
                    }
                    <a class="btn btn-sm btn-primary" asp-controller="ToDoList" asp-action="Details" asp-route-id="@goal.Id">More</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="mt-5 mb-5">
    <div class="goalgroup-header text-primary shadow-sm">
        Completed Goals
    </div>
    <div class="grid-view">
        @foreach (var goal in Model.CompletedGoals)
        {
            <div class="goalcard completed animate">
                <div class="goalcard-header">
                    <div>@goal.Id</div>
                    <div>@goal.CreatedAt.ToString("dd.MM.yyyy, HH:mm:ss")</div>
                </div>
                <div class="goalcard-body">@goal.Text</div>
                <div class="goalcard-footer">
                    <div class="text-wrap mt-auto">Completed: @goal.CompletedAt.Value.ToString("dd.MM.yyyy, HH:mm:ss")</div>
                    <a class="d-block btn btn-sm btn-secondary ms-3" asp-controller="ToDoRoster" asp-action="Details" asp-route-id="@goal.Id">More</a>
                </div>
            </div>
        }
    </div>
</div>